body{
   
    background: linear-gradient(rgb(224, 173, 173), rgb(66, 50, 50), rgb(124, 63, 63));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.image{
    width: 430PX;
    height: 450px;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;      
    background:hsl(0, 2%, 43%);

}

.image button{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column ;
gap: 10px;
}

img{

    width: 275px;

}